<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/juicy-jsoneditor/juicy-jsoneditor.html">

<dom-module id="uml-server-app">
  <template>
    <juicy-jsoneditor
      json="[[diagramCollection]]"
      mode="view">
    </juicy-jsoneditor>
  </template>

  <script>
    Polymer(
    {
      is: "uml-server-app",
      properties:
      {
        diagramCollection:
        {
          type: Object,
          value: {}
        }
      },
      ready: function()
      {

      }
    });
  </script>
</dom-module>
